page-slide {
    ion-card {
        position: relative;
        text-align: center;
      }

    .card-title {
        position: relative;
        top: 87%;
        font-size: 15px;
        width: 100%;
        font-weight: bold;
        color: #888886;
        padding: 8px;
      }
      img{
        display: block;
        width: 100%;
        margin: auto;
        padding: 10px;
      }
      ion-icon {
        font-size: 20px;
        float:right;
        margin-top:10px;
        margin-right:10px;
      }
      h4 {
        float: left;
        margin-top: 10px !important;
        margin-left: 10px !important;
        color: red !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
    .ro img{
        height: 130px;
      }
      ion-card {
        position: relative;
        text-align: center;
      }

    .card-title {
        position: relative;
        top: 87%;
        font-size: 15px;
        width: 100%;
        font-weight: bold;
        color: #888886;
        padding: 8px;
      }
      img{
        display: block;
        width: 100%;
        margin: auto;
        padding: 10px;
      }
      ion-icon {
        font-size: 20px;
        float:right;
        margin-top:10px;
        margin-right:10px;
      }
      h4 {
        float: left;
        margin-top: 10px !important;
        margin-left: 10px !important;
        color: red !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
    .ro img{
        height: 130px;
      }
    

}
